[data-md-color-scheme="songme-default"] {
  --md-primary-fg-color:        #6100DF;
  --md-primary-fg-color--light: #AA66FC;
  --md-primary-fg-color--dark:  #6100DF;
  --md-default-fg-color:        #AA66FC;
}